# The Water Consumption Study
## A dataset from Kaggle
https://www.kaggle.com/marcomolina/water-consumption-in-a-median-size-city

**About**
This dataset is about water consumption in Sonora, a city in Northern Mexico

In [1]:
# Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Explore the dataset
df=pd.read_csv('AguaH.csv')
df.head()

,USO2013,TU,DC,M,UL,f.1_ENE_09,f.1_FEB_09,f.1_MAR_09,f.1_ABR_09,f.1_MAY_09,...,f.1_MAR_15,f.1_ABR_15,f.1_MAY_15,f.1_JUN_15,f.1_JUL_15,f.1_AGO_15,f.1_SEP_15,f.1_OCT_15,f.1_NOV_15,f.1_DIC_15
0,H3,DOMESTICO MEDIO,0.5,MSDELAUNET,197.0,20.0,20.0,20.0,20.0,20.0,...,2.0,1.0,2.0,1.0,7.0,7.0,42.0,27.0,22.0,21.0
1,H3,DOMESTICO MEDIO,0.5,MSDELAUNET,307.0,NaN,30.0,30.0,30.0,30.0,...,11.0,13.0,16.0,14.0,15.0,16.0,13.0,17.0,17.0,11.0
2,H3,DOMESTICO RESIDENCIAL,0.5,MSDELAUNET,179.0,NaN,NaN,NaN,NaN,NaN,...,6.0,9.0,7.0,8.0,8.0,10.0,12.0,9.0,6.0,3.0
3,H3,DOMESTICO MEDIO,0.5,CICASA MMD-15 S,852.0,NaN,NaN,NaN,NaN,NaN,...,17.0,20.0,16.0,16.0,18.0,18.0,17.0,17.0,18.0,9.0
4,H3,DOMESTICO RESIDENCIAL,0.5,NaN,NaN,20.0,20.0,20.0,20.0,20.0,...,27.0,27.0,27.0,28.0,28.0,31.0,27.0,27.0,27.0,24.0

In [8]:
# explore the columns of the dataset
print(list(df), df.shape)

['USO2013', 'TU', 'DC', 'M', 'UL', 'f.1_ENE_09', 'f.1_FEB_09', 'f.1_MAR_09', 'f.1_ABR_09', 'f.1_MAY_09', 'f.1_JUN_09', 'f.1_JUL_09', 'f.1_AGO_09', 'f.1_SEP_09', 'f.1_OCT_09', 'f.1_NOV_09', 'f.1_DIC_09', 'f.1_ENE_10', 'f.1_FEB_10', 'f.1_MAR_10', 'f.1_ABR_10', 'f.1_MAY_10', 'f.1_JUN_10', 'f.1_JUL_10', 'f.1_AGO_10', 'f.1_SEP_10', 'f.1_OCT_10', 'f.1_NOV_10', 'f.1_DIC_10', 'f.1_ENE_11', 'f.1_FEB_11', 'f.1_MAR_11', 'f.1_ABR_11', 'f.1_MAY_11', 'f.1_JUN_11', 'f.1_JUL_11', 'f.1_AGO_11', 'f.1_SEP_11', 'f.1_OCT_11', 'f.1_NOV_11', 'f.1_DIC_11', 'f.1_ENE_12', 'f.1_FEB_12', 'f.1_MAR_12', 'f.1_ABR_12', 'f.1_MAY_12', 'f.1_JUN_12', 'f.1_JUL_12', 'f.1_AGO_12', 'f.1_SEP_12', 'f.1_OCT_12', 'f.1_NOV_12', 'f.1_DIC_12', 'f.1_ENE_13', 'f.1_FEB_13', 'f.1_MAR_13', 'f.1_ABR_13', 'f.1_MAY_13', 'f.1_JUN_13', 'f.1_JUL_13', 'f.1_AGO_13', 'f.1_SEP_13', 'f.1_OCT_13', 'f.1_NOV_13', 'f.1_DIC_13', 'f.1_ENE_14', 'f.1_FEB_14', 'f.1_MAR_14', 'f.1_ABR_14', 'f.1_MAY_14', 'f.1_JUN_14', 'f.1_JUL_14', 'f.1_AGO_14', 'f.1_SEP_14', 'f.1_OCT_14', 'f.1_NOV_14', 'f.1_DIC_14', 'f.1_ENE_15', 'f.1_FEB_15', 'f.1_MAR_15', 'f.1_ABR_15', 'f.1_MAY_15', 'f.1_JUN_15', 'f.1_JUL_15', 'f.1_AGO_15', 'f.1_SEP_15', 'f.1_OCT_15', 'f.1_NOV_15', 'f.1_DIC_15'] (178597, 89)

In [22]:
columns_to_explore = ['USO2013', 'TU', 'DC', 'M', 'UL']
for col in columns_to_explore:
    display(f'For the column [{col}]; {df[col].dtype}, the unique values are:', df[col].unique())

'For the column [USO2013]; object, the unique values are:'

array(['H3', 'AVD', 'MX', 'IRM', 'RHC', 'H2', 'H1', 'EQ', 'RG', 'IRB',
       'RIC', 'IN', 'IRA', 'CU'], dtype=object)

'For the column [TU]; object, the unique values are:'

array(['DOMESTICO MEDIO', 'DOMESTICO RESIDENCIAL', 'DOMESTICO BAJA',
       'SOCIAL', 'COMERCIAL', 'INDUSTRIAL', 'ESPECIAL'], dtype=object)

'For the column [DC]; float64, the unique values are:'

array([  0.5 ,   0.75,   1.  ,   4.  ,   3.  ,   2.  ,   1.5 ,  10.  ])

'For the column [M]; object, the unique values are:'

array(['MSDELAUNET', 'CICASA MMD-15 S', nan, 'Cicasa NG 1/2', 'DOROT',
       'CICASA / DE LA UNET', 'Cicasa NG 3/4', 'AZTECA', 'BADGERMETER',
       'Delaunet MD-100', 'ELSTER', 'ADCOM', 'ACTARIS', 'SENSUS',
       'SHLUMBERGER', 'Otras / desconocida', 'KENT', 'TONHY', 'ARAD',
       'INVENSYS', 'ALFA', 'SAPPEL', 'INVERCONTA', 'ABB', 'BAR-METERS 1"',
       'ENDRESS-HOUSER', 'Kent ABB', 'Delaunet MD-50', 'Delaunet MMD-19',
       'PRECISA II', 'MASTER', 'Badger combinado', 'Iberconta',
       'Azteca 3VM', 'Badger M25 Bronce', 'RECORDAL', 'ZENNER 1/2',
       'GENERICA', 'Delaunet MD-19', 'Delaunet UD-15', 'EWE',
       'Delaunet MD-15', 'Y-T MD-15', 'Delaunet WD-100', 'AV3STARS',
       'SAPPEL AQUARIUS', 'Badger RCDLL-25', 'Delaunet MD-40', 'MEXICANO',
       'NEPTUNE', 'Delaunet Aurus 3UM-15', 'AQUARIUS', 'IESA', 'MENECKE'], dtype=object)

'For the column [UL]; float64, the unique values are:'

array([  197.,   307.,   179., ...,  5968.,  9621.,  5388.])

In [14]:
# Explainations of the USO2013 column
# Column Name should be "Type of land use", or "LandUseType"
uso_explain = {'AVD': 'Vegetation area','CU': 'Downtown','EQ': 'Parks',
               'H1': 'Housing low density','H2': 'Housing mid density',
               'H3': 'Housing high density','IN': 'Infrastructure',
               'IRA': 'High Risk Industry','IRB': 'Low Risk Industry',
               'IRM': 'Medium Risk Industry',
               'MX': 'Mixed (commerce, housing, industry)',
               'RG': 'Government Reserve','RHC': 'Reserve Housing Conditioned',
               'RIC': 'Reserve Industry Conditioned',}

In [15]:
# Explainations of the TU column
# Column Name should be "Type of user", or "UserType"
tu_explain = {'COMERCIAL': 'Commercial','DOMESTICO BAJA': 'Low Domestic',
              'DOMESTICO MEDIO': 'Medium Domestic',
              'DOMESTICO RESIDENCIAL': 'Residential Domestic',
              'ESPECIAL': 'Non Industrial High Consumption (Carwash, …)',
              'INDUSTRIAL': 'Industrial','SOCIAL': 'Social Services'}

In [23]:
# Explainations of the DC column
# The diameter of the pipe of the house that is connected to the public grid levels in inches
# Column Name should be "Inlet pipe diameter", or "InletDiameter"

# No modifications required

In [37]:
# Explainations of the M column
# The name of the vendor of the measuring gauge of water consumption
# Column Name should be "The water gauge vendor", or "GaugeVendor"

# Fix the NaN(s)
m = df.M
print (f'The column contains {m.isna().count()} records, From which {m.isna().sum()} are NaN\nThe ratio is {m.isna().mean()*100:6.2f}%')

The column contains 178597 records, From which 41071 are NaN
The ratio is  23.00%

In [38]:
# Explainations of the UL column
# The cubic meters of consumption in January 2016
# Column Name should be "Reference consumption at Jan 2016", or "CurrentConsumption"

# Fix the NaN(s)
m = df.UL
print (f'The column contains {m.isna().count()} records, From which {m.isna().sum()} are NaN\nThe ratio is {m.isna().mean()*100:6.2f}%')

The column contains 178597 records, From which 43086 are NaN
The ratio is  24.12%

In [39]:
# Explainations of the other columns with format f.1_MMM_YY
# The cubic meters of consumption in month MMM, and year YY
# Columns should be melted with the format "MonthYear, value"
# Then the MonthYear column should be split to "Month" and "Year".
# The value column Name should be "Consumption"

# & Fix the NaN(s)